body {
	margin: 0;
	font-family: "Zen Kurenaido", sans-serif;
	font-weight: bolder;
	font-size: 18px;
	background-color: whitesmoke;
}

* {
	box-sizing: border-box;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

html {
	margin: 0;
	padding: 0;
}

@mixin flex($value) {
	display: flex;
	justify-content: $value;
}

main {
	@include flex(center);
	border: 3px solid aquamarine;
	background-image: url(../images/meme.jpg);
	background-size: cover;
	height: 100vh;
	padding: 2em;
	margin: 2em;
	article {
		padding: 2em;
		@include flex(center);
		flex-direction: column;
		background-color: rgba(194, 194, 194, 0.482);
	}
	article p {
		@include flex(center);
	}
	button {
		@include flex(center);
		font-family: "Zen Kurenaido", sans-serif;
		font-size: 20px;
		padding: 1em 2em;
		border-radius: 30px;
	}
}
